.detail-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    border: 2px solid var(--color-accent);
    z-index: 1000;
  }
  
  .detail-card img {
    width: 100%;
  }
  
  .detail-card .card-body {
    padding: 20px;
  }
  
  .detail-card button {
    background-color: var(--color-button);
    border: none;
    padding: 10px;
    color: white;
    cursor: pointer;
  }
  