<div class="container">
  <h1>PERSONAJES DE MARVEL</h1>

  <!-- Formulario para agregar o editar personajes -->
  <app-character-form 
    *ngIf="selectedCharacter" 
    [character]="selectedCharacter" 
    (save)="saveCharacter($event)" 
    (cancel)="cancelEdit()">
  </app-character-form>

  <div class="row">
    <!-- Lista de personajes mostrados en tarjetas -->
    <div class="col-md-4 col-sm-6 col-12" *ngFor="let character of characters">
      <app-character-card 
        [character]="character" 
        (edit)="editCharacter($event)" 
        (delete)="deleteCharacter($event)"
        (showInfo)="showCharacterDetail($event)">
      </app-character-card>
    </div>
  </div>

  <!-- Fondo oscuro solo cuando se muestra la tarjeta de detalles -->
  <div *ngIf="detailedCharacter" class="modal-overlay"></div>

  <!-- Mostrar detalles del personaje seleccionado -->
  <app-card-detail 
    *ngIf="detailedCharacter" 
    [character]="detailedCharacter" 
    (close)="closeCharacterDetail()">
  </app-card-detail>

  <!-- Botón para agregar un nuevo personaje -->
  <button class="btn btn-success add-character-btn" 
    (click)="selectedCharacter = { name: '', description: '', id: null }">
    Agregar personaje
  </button>

   <!-- Componente de alertas -->
   <app-alert [message]="alertMessage"></app-alert>
</div>
