<footer class="footer-section">
    <div class="container">
      <p>2024 MARVEL CRUD</p>
      <div class="social-links">
        <a href="https://www.linkedin.com/in/joaquin-vinolo98/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/joaquin9830" target="_blank">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:joaquin9811@gmail.com" target="_blank">
          <i class="fab fa-envelope"></i>
        </a>        
      </div>
    </div>
  </footer>