/*Estilos globales*/

/* Variables de colores */
:root {
    --color-primary-dark: #000000;
    --color-primary: #B3005E;
    --color-secondary: #faf9f9;
    --color-accent: #ff5f5f;
    --color-button: #c92c2c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marvel", sans-serif;
    font-weight: 400;
}

body {
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1b1b1b, #000000);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #161616, #000000);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    font-family: "Marvel", sans-serif;
    font-weight: 700;
}