/*Estilos globales*/

/* Variables de colores */
:root {
    --color-primary-dark: #000000;
    --color-primary: #B3005E;
    --color-secondary: #faf9f9;
    --color-accent: #FF5F9E;
  }
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Marvel", sans-serif;
    font-weight: 400;
}

body{
    font-family: "Marvel", sans-serif;
    font-weight: 700;
}

